[user]
    email = 7158259+yoshinarl@users.noreply.github.com
[core]
    excludesfile = ~/.gitignore
    edirot = "vim"
    quotepath = false
[alias]
    st = status
    co = checkout
    br = branch
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[push]
    default = current
