'exception-reporting':
  'userId': 'c0e66d9a-2779-cc44-9e9f-27eba324a553'
'release-notes':
  'viewedVersion': '0.84.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'b37d7fb72ace5f4bd7609168601cddaf3fb35877'
'editor':
  'fontFamily': 'Ricty'
  'tabLength': 4
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'metrics'
  ]
